body {
    margin: 60px auto;
    width: 80%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

p {
    font-size: 1.1em;
    line-height: 1.1em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.banner {
    position: relative;
    text-align: center;
	width: 100%;
}

#face-image {
	position: relative;
    text-align: center;
    color: white;
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1000px) {
    .text-banner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

.text-banner h1 {
    font-size: 350%;
    color: black;
}

.text-banner h4 {
    font-size: 150%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.activity_pic {
    width: 24%;
    padding: 5px;
}
  
/* Clear floats after image containers */
.activity_row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 600px) {
    .activity_pic {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .left-figure {
        float: left;
    }

    .right-figure {
        float: right;
    }
}

.about,
.awards_section,
.references {
    border-bottom: 1px solid #d5d5d5;
}

#dl-CV-button {
    background-color: skyblue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 2.4em;
    font-family: 'Helvetica';
    text-align: center;
}

#dl-CV-button:hover {
    background-color: slategray;
}

#biomusic-screen {
    width: 12.5em;
}

#visual-graph {
    width: 25em;
}

#control-img {
    width: 12.5em;
}

#training-screen {
    width: 12.5em;
}

#feature-faces {
    width: 20em;
}

#fpga-schematic {
    width: 15em;
}

.experience_image,
.project_image {
    width: 100%;
    text-align: center;
}

.experience,
.project {
    border-bottom: 1px solid #d5d5d5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.experience_section,
.projects_section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.experience p,
.project p {
    overflow: auto;
}
